:root{
    --primary:#0B6B3A;
    --secondary:#198754;
    --gold:#D4AF37;
}

body{
    font-family: 'Segoe UI', sans-serif;
}

.hero{
    min-height:100vh;
    background:
        linear-gradient(
            rgba(0,0,0,.55),
            rgba(0,0,0,.55)
        ),
        url('../images/sekolah.jpg');

    background-size:cover;
    background-position:center;
}

.hero-content{
    min-height:100vh;
    display:flex;
    align-items:center;
    color:white;
}

.counter{
    background:var(--primary);
    color:white;
    padding:60px 0;
}

.section-title{
    color:var(--primary);
    font-weight:700;
}

.footer{
    background:#222;
    color:white;
    padding:50px 0;
}

.logo-school{
    height:70px;
}